/* Body Style */
html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

/* Fonts*/

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v2/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v2/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(https://fonts.gstatic.com/s/ibmplexsans/v2/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Header */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 4px #000;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 0rem 1.5rem 0rem 1.5rem;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

header .mobile {
  display: none;
}

.desktop li {
  display: flex;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #000;
  background-color: #B22;
  margin-right: 1rem;
}

.desktop li:last-child {
  margin-right: 0rem;
}

.desktop li:hover {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.desktop a:hover {
  color: #000;
}

/* Banner Style */

.banner-bg {
  background-color: #ADADAD;
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.banner-content img {
  height: auto;
  width: 100%;
}

.media {
  height: auto;
  padding: 2.125rem 1.5rem 2.125rem 0rem;
}

.media img {
  height: auto;

}

.media video {
  height: auto;
  width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
  max-width: 40%;
}

.banner-text h1 {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.banner-text h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.banner-text-mobile {
  display: none;
}

.mobile {
  display: none;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 15px;
  color: red;
  text-align: center;
  background-color: #B22;
  border: 1px solid black;
  width: 90%;
}

.button:hover {
  color: white;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.button a {
  font-size: 1.125rem;
}

/* Information Style*/

.info-section {
  display: flex;
  position: relative;
  top: 4rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.info-section img {
  width: 100%;
}

.info-container {
  width: 70%;
}

.info-container .media h1 {
  margin: 2rem 0rem 1.5rem 0rem;
  text-transform: uppercase;
}

.info-container .media p {
  margin-bottom: 2rem;
}

.info-box-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 2rem;
}

.content-image-box {
  display: flex;
  padding: 1rem 2rem 1rem 1rem;
  border: 1px solid black;
}

.content-image-box h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

 #middle {
  background-color: #ADADAD;
}

.content-image-box .media-container {
  width: 40%;
}

.info-media {
  width: 60%;
  height: auto;
  padding: 2.125rem 1.5rem 2.125rem 0rem;
}

.info-media img {
  height: auto;
  width: 100%;
}

.media-container img {
  display: block;
  width: 100%;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  width: 65%;
}

.text-content p {
  padding: 1rem 0rem 1rem 0rem;
}

.text-content a {
  color: #B22222;
}

.text-content a:hover {
  color: #ADADAD;
}

/* Learning Style */

.learning-section {
  display: flex;
  position: relative;
  top: 4rem;
  background-color: #ADADAD;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;
  padding: 2rem 0rem 2rem 0rem;
  text-transform: uppercase;
}

#learning {
  background-color: #ADADAD;
}

.learning-box-section {
  display: flex;
  padding: 0rem 4.5rem 2rem 4.5rem;
}

.learning-box {
  flex: 1;
  margin-right: 2rem;
  background-color: white;
}

.learning-box:last-child {
  margin-right: 0rem;
}

/* Thesis Style */

.thesis-section {
  display: flex;
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.thesis-box-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 2rem;
  /*border-left: solid 1px #000;*/
}

/* Footer Style */

footer {
  display: flex;
  position: relative;
  margin-top: 2rem;
  width: 100%;
}

footer .content {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0rem 1.5rem 0rem 1.5rem;
  height: 4rem;
}

footer nav ul {
  display: flex;
}

footer .copyright {
  flex: 1;
}

/* Mobile Style */

@media only screen and (max-width: 470px) {
  .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header {
    position: relative;
    width: 100%;
    height: 4rem;
    border-bottom: solid 4px #000;
    background-color: white;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .banner-bg {
    background-color: red;
    top: 0rem;
  }

  .banner-content {
    display: flex;
    align-items: center;
    padding: 0rem;
  }

  .media {
    width: 100%;
    padding: 0rem;
  }

  .banner-text{
    padding: 2rem 1rem 2rem 1rem;
    align-items: center;
    justify-content: center;
  }

  .banner-text h3 {
    margin-bottom: 2rem;
  }

  .banner-text p {
    margin-bottom: 1rem;
  }

  .button {
    text-align: center;
    width: 100%;
  }
}
